*.pyc
test.py

# files in data directory
data/csv/*.csv
!data/csv/asso_rules.csv
!data/csv/freq_items.csv
data/*.json

data/apriori/freq_items*.json
data/apriori/newActual*.json
data/fpgrowth/freq_items*.json
data/fpgrowth/newActual*.json

# files over 100Mo
data/apriori/actual100_75000.json
data/apriori/actual500_75000.json
data/apriori/actual1000_75000.json
data/apriori/actual100_100000.json
data/apriori/actual500_100000.json
data/apriori/actual1000_100000.json
data/fpgrowth/actual100_75000.json
data/fpgrowth/actual500_75000.json
data/fpgrowth/actual1000_75000.json
data/fpgrowth/actual100_100000.json
data/fpgrowth/actual500_100000.json
data/fpgrowth/actual1000_100000.json


!data/standard100.json
!data/standard500.json
!data/standard1000.json
!data/mainRules_example.json

!results/apriori/*.json
!results/fpgrowth/*.json

results/tests/distances/apriori/std100/*.txt
!results/tests/distances/apriori/std100/20231220-104627.txt
results/tests/distances/apriori/std500/*.txt
!results/tests/distances/apriori/std500/20231220-104003.txt
results/tests/distances/apriori/std1000/*.txt
!results/tests/distances/apriori/std1000/20231220-103118.txt
results/tests/distances/fpgrowth/std100/*.txt
!results/tests/distances/fpgrowth/std100/20231220-093454.txt
results/tests/distances/fpgrowth/std500/*.txt
!results/tests/distances/fpgrowth/std500/20231220-094534.txt
results/tests/distances/fpgrowth/std1000/*.txt
!results/tests/distances/fpgrowth/std1000/20231220-095228.txt

!data/cities.json
!data/merchTypes.json




